@use 'config' as c;

.home {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; 
    text-align: center;
    background-image: 
        linear-gradient(to right bottom, rgba(c.$primary-color, 0.4), rgba(c.$primary-color, 0.2)),
        url(../dist/img/model-1.jpg);
    background-position: center top;
    background-size: cover;

    &__name {
        font-size: 5rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid c.text-color(c.$primary-color);

        &--last {
            color: c.$secondary-color;
            font-weight: 700;
        }
    }
}